<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".Administrador.MisFunciones"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_koala"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_koala_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoLibros"
        tools:targetApi="31">
        <activity
            android:name=".Administrador.TopDescargados"
            android:exported="false" />
        <activity
            android:name=".Administrador.TopVistos"
            android:exported="false" />
        <activity
            android:name=".Administrador.EditarPerfilAdmin"
            android:exported="false" />
        <activity
            android:name=".LeerLibro"
            android:exported="false" />
        <activity
            android:name=".Administrador.DetalleLibro"
            android:exported="false" />
        <activity
            android:name=".Administrador.ActualizarLibro"
            android:exported="false" />
        <activity
            android:name=".Administrador.ListaPdfAdmin"
            android:exported="false" />
        <activity
            android:name=".Administrador.Agregar_PDF"
            android:exported="false" />
        <activity
            android:name=".Administrador.Fragmentos_Admin.Agregar_Categoria"
            android:exported="false" />
        <activity
            android:name=".Administrador.Login_Admin"
            android:exported="false" />
        <activity
            android:name=".Administrador.Registrar_Admin"
            android:exported="false" />
        <activity
            android:name=".pueba"
            android:exported="false" />
        <activity
            android:name=".Bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityCliente"
            android:exported="true" />
        <activity
            android:name=".MainActivityP"
            android:exported="true" />
    </application>

</manifest>